.red {
  width: 150px;
  height: 150px;
  background-color: red;
}

.blue {
  width: 150px;
  height: 150px;
  background-color: blue;
}

.yellow {
  width: 150px;
  height: 150px;
  background-color: yellow;
}
