#main {
  display: flex;
}

#cat-div, #dog-div {
  display: flex;
  flex-direction: column;
}

#cat-div {
  border: 2px solid blue
}

#dog-div {
  border: 2px solid red
}

img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}
